/* Header */
.header-nav{
    display: flex;
}
.header-nav-item{
    margin: 19px;
}
.header-nav__link{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-family: "GothamPro", sans-serif;
    font-weight: 400;
}
.header-nav__link.active:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c5c5c566;
}