/* Header */
ul{
    display: flex;
}
ul>li{
    margin: 19px;
}
ul>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
ul>li>a.active:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c5c5c566;
}