body{
    background-color: #1F2223;
    padding: 43px;


}
.app{
    background-color: #000;
    height: 100%;
    padding: 51px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
}




